<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <title>Masterprojekt Machine Learing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf
								und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#ueberblick">Überblick</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#architektur">Architektur</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="cart.html">CART</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="k_nearest.html">K-Nearest Neighbors</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="logreg.html">Logistische Regression</a>
                                <a class="dropdown-item" href="random_forest.html">Random Forest</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Begriffserklärungen</h2>

        <!--######################################################## Einführung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <p>Auf dieser Seite sind Fachbegriffe und deren Erklärungen aus dem Maschinenbau und der Informatik zu finden.</p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Maschinenbaubegriffe ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <h3>Maschinenbau</h3>
            </br>
            <div class="row">
                <div class="col-sm-3">
                    <p>Anfasen/Entgraten</p>
                </div>
                <div class="col-sm-9">
                    <p>Scharfe Werkstückkanten werden gebrochen</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Aufnahme</p>
                </div>
                <div class="col-sm-9">
                    <p>Werkzeughalterung in der Maschine</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><a href="datenbeschreibung.html">Datenbeschreibung</a></p>
                </div>
                <div class="col-sm-9">
                    <p>Kurzbeschreibung zu den Daten</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Drehzahl (n)</p>
                </div>
                <div class="col-sm-9">
                    <p><i>n = vc/(µ*d)</i> -- Drehzahl des Fräsers</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Reibahle</p>
                </div>
                <div class="col-sm-9">
                    <p>Werkzeug, das präzise Borungen erzeugt. Es wird eingesetzt um Passungen herzustellen. Bei diesem Verfahren ist Vorbohren erforderlich. Um eine Rundlaufgenauigkeit zu erhalten, besitzt die Reibahle meist eine ungerade Anzahl an Schneiden.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Reiben</p>
                </div>
                <div class="col-sm-9">
                    <p>Vorgang bei dem ein vorgebohrtes Loch (0,1-0,6 mm Reibzugabe) auf ein Passungsmaß aufgebohrt wird; Hohe Oberflächengenauigkeit</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Reibzugabe</p>
                </div>
                <div class="col-sm-9">
                    <p>Vorgebohrtes Loch ist im Durchmesser zwischen 0,1 mm und 0,6 mm kleiner als der genannte Enddurchmesser. Diese Durchmesserdifferenz wird Reibzugabe genannt.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Schlichten</p>
                </div>
                <div class="col-sm-9">
                    <p>Das Schlichten folgt nach dem Prozess des Schurppens. Es dient Feinbearbeitung auf Fertigmaß</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Schnittgeschwindigkeit (vc)</p>
                </div>
                <div class="col-sm-9">
                    <p><i>vc = N*µ*d</i> -- mit d = Durchmesser Fräser; Geschwindigkeit der Schneide am Außendurchmesser des Fräsers</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Schruppen</p>
                </div>
                <div class="col-sm-9">
                    <p>Grobe Bearbeitung des Bauteils, es bleibt ein Aufmaß stehen -> kein Fertigmaß</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Vorschubgeschwindigkeit (vf)</p>
                </div>
                <div class="col-sm-9">
                    <p><i>vf = f*n</i> -- Geschwindigkeit des Fräsers in Vorschubrichtung</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Vorschub pro Umdrehung (f)</p>
                </div>
                <div class="col-sm-9">
                    <p><i>f = fz*z</i> -- mit fz = Vorschub pro Schneide und z = Schneidenzahl des Fräsers</p>
                </div>
            </div>



            <hr class="style1">
        </div>

        <!--######################################################## Informatikbegriffe ########################################################-->


        <div class="container pt-1" style="margin-top:30px">
            <h3>Informatik</h3>
            </br>
            <div class="row">
                <div class="col-sm-3">
                    <p>Accuracy (Genauigkeit)</p>
                </div>
                <div class="col-sm-9">
                    <p>Der Anteil der Vorhersagen, die ein Klassifikationsmodell richtig gemacht hat. In der Mehrklassenklassifizierung wird die Genauigkeit wie folgt definiert:</br>
                        -> Genauigkeit = Korrekte Vorhersagen / Gesamtanzahl an Beispielen</p>
                    <p>In Binärklassenklassifizierung hat die Genauigkeit folgende Definition:</br>
                        -> Genauigkeit = (Richtig Positiv + Richtig Negativ) / Gesamtanzahl an Beispielen</p>
                    <p>Richtig Positiv: Das Modell hat die positive Klasse korrekt vorhergesagt.</br>
                        Richtig Negativ: Das Modell hat die negative Klasse korrekt vorhergesagt.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Clustering</p>
                </div>
                <div class="col-sm-9">
                    <p>Gruppierung verwandter Beispiele, insbesondere beim Unsupervised Learning. Sobald alle Beispiele gruppiert sind, kann ein Mensch optional jedem Cluster eine Bedeutung geben. Es gibt viele Clustering-Algorithmen. Beispielsweise bündelt
                        der k-means-Algorithmus Beispiele aufgrund ihrer Nähe zu einem Schwerpunkt.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Data Frame</p>
                </div>
                <div class="col-sm-9">
                    <p>Ein beliebter Datentyp zur Darstellung von Datensätzen (Datasets) in Pandas. Ein Data Frame ist wie eine Tabelle aufgebaut. Jede Spalte hat einen Namen (einen Header), und jede Zeile wird durch eine Nummer identifiziert.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Data Lake</p>
                </div>
                <div class="col-sm-9">
                    <p>Ein Data Lake beherbergt Rohdaten schwankender Qualität, meist aus unterschiedlichen Quellen. In unserem System dient der Data Lake (MongoDB) aber lediglich als 1:1 Replikat der Datenbank auf dem Maschinen-PC.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Datasets</p>
                </div>
                <div class="col-sm-9">
                    <p>Eine Sammlung von Examples. Ein Example ist eine Zeile eines Datasets. Ein Example besteht dabei aus mindestens einem Feature und eventuell einem Label.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Data Warehouse</p>
                </div>
                <div class="col-sm-9">
                    <p>Ein Data Warehouse (DWH) ist eine optimierte Datenbank, welche schnelle Abfragen auf große Datenmengen ermöglicht. Im Normalfall führt sie Daten verschiedenster Quellen zusammen.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Datenpipeline</p>
                </div>
                <div class="col-sm-9">
                    <p>Mithilfe unserer Datenpipeline werden die Daten entlang des ETL-Prozesses transportiert. Man kann sie gut mit einer Ölpipeline vergleichen.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>ETL</p>
                </div>
                <div class="col-sm-9">
                    <p>Extract, Transform, Load.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Feature</p>
                </div>
                <div class="col-sm-9">
                    <p>Eine Eingangsvariable, die zur Durchführung von Vorhersagen verwendet wird.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Framework</p>
                </div>
                <div class="col-sm-9">
                    <p>Ein Framework gibt eine gewisse Art und Weise vor, wie ein Programm gestaltet werden soll (engl “frame” = Rahmen). Im Gegensatz dazu gibt eine Programmierbibliothek nicht nur eine Struktur vor, sondern implementiert Funktionalität,
                        auf welche eigenständig zurückgegriffen werden kann.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Klassifikation</p>
                </div>
                <div class="col-sm-9">
                    <p>Gruppierung von Daten. Hierbei wird zwischen Binärklassenklassifizierung und Mehrklassenklassifizierung unterschieden.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Label</p>
                </div>
                <div class="col-sm-9">
                    <p>Ein Label ist der zu vorhersagende Output eines Trainings. In unserem Fall die Entscheidung ob oder IO oder NIO zutrifft.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><a href="machinelearning.html">Machine Learning</a></p>
                </div>
                <div class="col-sm-9">
                    <p>Maschinelles Lernen ist die Wissenschaft davon, Computer zum Handeln zu bringen, ohne explizit programmiert zu werden.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><a href="ml.html">ML.net</a></p>
                </div>
                <div class="col-sm-9">
                    <p>Ein Open Source und plattformübergreifendes Framework für maschinelles Lernen.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Regression</p>
                </div>
                <div class="col-sm-9">
                    <p>Treffen von Vorhersagen (numerische Werte).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Reinforcement-Learning</p>
                </div>
                <div class="col-sm-9">
                    <p>Belohnungsfunktion: Jeder Klassifizierung wird manuell belohnt oder bestraft (Feedback). Ziel: Effektivsten Ansatz erlernen um Belohnungen zu maximieren.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Supervised-Learning</p>
                </div>
                <div class="col-sm-9">
                    <p>Lehrer-Schüler-Prinzip: Man teilt dem Algorithmus mit, was richtig und falsch ist. Output bekannt. Labels vorhanden. Bsp.: Klassifikation.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><a href="tensorflow.html">Tensorflow</a></p>
                </div>
                <div class="col-sm-9">
                    <p>TensorFlow ist eine end-to-end Open Source Plattform für maschinelles Lernen.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Unsupervised-Learning</p>
                </div>
                <div class="col-sm-9">
                    <p>Verborgene Muster können erkannt werden: Knowledge Discovery. Output unbekannt. Keine Labels vorhanden. Bsp.: Clustering.</p>
                </div>
            </div>

            <hr class="style1">
        </div>


        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>