<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <meta charset="UTF-8">
    <title>Masterprojekt Machine Learning</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>

    <link rel="stylesheet" href="css/scroll.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/particles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Einführung ########################################################-->

    <div class="pageScroll" id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf
								und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="#ueberblick">Überblick</a>
                                <a class="dropdown-item" href="#machine">Die Maschine</a>
                                <a class="dropdown-item" href="#architektur">Architektur</a>
                                <a class="dropdown-item" href="#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="#results">Ergebnisse</a>
                                <a class="dropdown-item" href="#useCases">Versuchsaufbau</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="cart.html">CART</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="k_nearest.html">K-Nearest Neighbors</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="logreg.html">Logistische Regression</a>
                                <a class="dropdown-item" href="random_forest.html">Random Forest</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Demonstrator</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <header>



            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> -->
                    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url(./images/slider2.jpg)">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="startbild">
                                <h3 class="display-4">Machine Learning im Maschinenbau</h2>
                                    <p class="lead">Masterprojekt Wintersemester 2019/20</p>
                            </div>
                        </div>
                    </div>
                    <!--  Slide Two - Set the background image for this slide in the line below 
                    <div class="carousel-item" style="background-image: url(./images/lab_slider_3.jpg)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Entwicklung eines innovativen Geschäftsmodells in der digitalen Wirtschaft</h2>
                            <p class="lead">Masterprojekt</p>
                        </div>
                    </div>
                    Slide Three - Set the background image for this slide in the line below 
                    <div class="carousel-item" style="background-image: url(./images/lab_slider_2.jpg)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Das Digital Lab und seine Mitglieder</h2>
                            <p class="lead">This is a description for the third slide.</p>-->
                </div>
            </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
    </div>
    </header>
    </div>

    <!--######################################################## Einführung ########################################################-->

    <div class="pageScroll" id="einfuehrung">
        <div class="pt-2">
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <h2 style="color: #7b746e">Projektbeschreibung</h2>

                </div>

                <br>

                <div class="row">
                    <h4 class="col-sm-12 text-center pb-3" style="color: #7b746e">Folgende Inhalte werden hier vermittelt!
                    </h4>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-2">
                        <img src="images/verstehen.svg" class="rounded-circle mx-auto d-block" style="padding: 20px; max-width: 90%; border: solid 2px #509bc4">
                    </div>
                    <div class="col-sm-10 align-self-center">
                        <h5 class="text-center pb-3" style="color: #509bc4">Machine Learning verstehen</h5>
                        <p>
                            Machine Learning, sowie künstliche Intelligenz im Allgemeinen, kann sehr komplex werden. Das Thema wird hierbei so verständlich wie möglich erklärt, dass auch Anfänger ohne Kenntnisse einen schnellen Einstieg in das Thema bekommen und zeitnah selbst eigene
                            Versuche starten können.
                        </p>
                    </div>
                </div>

                <br>
                <br>

                <div class="row">

                    <div class="col-sm-10 align-self-center">
                        <h5 class="text-center pb-3" style="color: #509bc4">Machine Learning selbst ausprobieren</h5>
                        <p>
                            Hier wird nicht nur die Theorie vermittelt! Das wäre auf Dauer auch ziemlich langweilig. Es werden zahlreiche Codebeispiele und passende Datensätze bereitgestellt, sodass sofort eigene Versuche durchgeführt werden können.
                        </p>
                    </div>

                    <div class="col-sm-2">
                        <img src="images/ausprobieren.svg" class="rounded-circle mx-auto d-block" style="padding: 20px; max-width: 90%; border: solid 2px #509bc4">
                    </div>
                </div>

                <br>
                <br>

                <div class="row">
                    <div class="col-sm-2">
                        <img src="images/anwenden.svg" class="rounded-circle mx-auto d-block" style="padding: 20px; max-width: 90%; border: solid 2px #509bc4">
                    </div>
                    <div class="col-sm-10 align-self-center">
                        <h5 class="text-center pb-3" style="color: #509bc4">Machine Learning anwenden</h5>
                        <p>
                            Die Theorie wurde verstanden und mit den Codebeispielen bereits erfolgreich eigene Versuche gestartet? Super! Dann kann das gelernte nun in der Praxis angewendet werden.
                        </p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <h4 class="col-sm-12 text-center pb-3" style="color: #7b746e">Über unser Projekt</h4>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <p>Um die Theorie des Studiums mit der Praxis des Arbeitsalltags zu verknüpfen, soll dieses Projekt dazu dienen, Einblicke und neue Erkenntnisse der digitalen Welt, insbesondere dem Bereich der Industrie 4.0 zu erlangen. Durch die
                            Arbeitsumgebung des Digital Laboratory werden Grundlagen und Hilfsmittel zur Durchführung des Projekts bereitgestellt. Die vorhandene 5-Achs-Fräsmaschine der Firma DMG MORI liefert dafür den Use-Case und die dazu benötigte
                            Grundlage für das Projekt.</p>
                        <p>Das Ziel des Projektes soll sein, mit Machine Learning eine Identifizierung der Einflussfaktoren während der Produktion zu erhalten, soll heißen welche Parameter einen starken, aktiven Einfluss auf den Fräsprozess haben und somit
                            das Fräsergebnis beeinflussen. Diese Informationen können genutzt werden um später Machine Learning Modelle in Echtzeit für Fräsprozesse einsetzen zu können.</p>
                        <p> Zu den Grundlagen gehören neben Technologien wie TensorFlow und Python auch die zum Machine Learning gehörigen Lernmethoden Supervised-/Unsupervised-/Reinforcement-Learning und deren Algorithmen.</p>
                        <p>Sind die Grundlagen vermittelt worden, wird die Datengrundage geschaffen. Hier sollen mit der 5-Achs-Fräsmaschine und mehrere hundert Passungen nacheinander aus einem Stahlblock gefräst werden. Dazu soll die Toleranz jeder Passung
                            mit dem Messmittel der Maschine ermittelt werden, um festzustellen, ab welchem Zeitpunkt bzw. welche Umstände dazu führen, dass die gefrästen Löcher außerhalb des Toleranzbereichs liegen. Die Beurteilung erfolgt später über
                            die Kennzeichnung (Labeling) der Löcher in die Kategorien IO/NIO.</p>
                        <p>Die gewonnen Daten werden in einer Datenbank gespeichert und durch ETL-Prozesse so bearbeitet, dass diese anschließend von Machine Learning Algorithmen genutzt werden können.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--######################################################## Gesamtüberblick ########################################################-->

    <div class="pageScroll" id="ueberblick">
        <div class="pt-5">
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Überblick</h2>
                        <p>Folgende Grafik dient dazu Projektinhalt, Vorgehensweise und Ziel noch einmal anschaulich zu erklären.
                        </p>
                        <p>Im 1. Schritt werden durch unsere Maschine Daten produziert. Dies erfolgt durch das Bohren und Reiben von Löchern in eine Stahlplatte. Mehr dazu im <a href="#useCases">Versuchsaufbau</a>.</p>
                        <p>Nach dem die Datengrundlage geschaffen wurde, werden die Daten im 2. Schritt durch <a href="#etl">ETL-Prozesse</a> von der Datenbank zum DataLake transferiert, um mit den nun strukturierten Daten arbeiten zu können. Die Struktur
                            der Datenpipeline ist unter <a href="#architektur">Architektur</a> zu finden. </p>
                        <p>Im letzten Schritt durchlaufen die Daten die implementierten <a href="#machineLearning">Machine Learning</a> Algorithmen, um eine Vorhersage über den Zustand der Bohrungen zu tätigen.</p>
                        <div class="center">
                            <img src="images/Zusammenfassung.png" width="100%">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--######################################################## Die Maschine ########################################################-->

        <div class="pageScroll" id="machine">
            <div class="pt-5">
                <div class="container" style="margin-top:30px">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Die Maschine</h2>
                            <p>Bei der verwendeten Maschine handelt es sich um eine DMG MORI DMU 75 monoBLOCK gesponsert von DMG MORI. Diese produziert die für unseren Use-Case benötigten Daten. Durchschnittlich werden dabei 20-30 Datensätze pro Sekunde
                                produziert.
                                <p>
                                    <div class="center">
                                        <img src="images/Maschine_1_mitAnimation_v2.gif" width="80%">
                                    </div>
                                    <br>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-maschine" data-toggle="modal" data-target="#exampleModal">
										Erfahre mehr zur DMU 75 monoBLOCK!
									</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">DMU 75 monoBLOCK</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <img src="images/monoblock75.jpg" width="70%">
                                                        </div>
                                                        <div class="col-sm-5">
                                                            Technische Daten der Maschine

                                                            <br>
                                                            <br>
                                                            <ul>
                                                                <li>Max. Verfahrweg X-Achse - 750 mm</li>
                                                                <li>Max. Verfahrweg Y-Achse - 650 mm</li>
                                                                <li>Max. Verfahrweg Z-Achse - 560 mm</li>
                                                                <li>Max. Tischbeladung - 600 kg</li>
                                                                <li>Tischdurchmesser - 650 mm</li>
                                                                <li>Werkzeugmagazin - bis zu 60 Stück</li>
                                                            </ul>

                                                            <br> Wie bereits beschrieben, werden zahlreiche Sensordaten der Maschine in einer Datenbank gespeichert. Beispielhafte Sensoren währen:

                                                            <br><br>

                                                            <ul>
                                                                <li>Stromsensoren, um die Belastung beim zerspanen zu messen. Damit kann auch festgestellt werden, wann das Werkzeug verschlissen ist.</li>
                                                                <li>Wegmesssysteme an den Achsen um die Position zu bestimmen</li>
                                                                <li>Werkzeugmesssystem um die Maße der Werkzeuge bzw. Abstand der Werkzeuge zum Bezugspunkt zu bestimmen.</li>
                                                                <li>Tempereatursensoren, um Maßabweichungen durch Temperaturänderungen zu bestimmen</li>
                                                                <li>Drucksensoren im Hydrauliksystem um den Druck am Spannfutter zu messen, damit das Werkstück sicher gespannt ist</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <a href="https://de.dmgmori.com/produkte/maschinen/fraesen/5-achs-fraesen/dmu-monoblock/dmu-75-monoblock/?utm_source=Google&utm_medium=CPC&utm_campaign=milling_DE&gclid=CjwKCAiAxMLvBRBNEiwAKhr-nEPEKmfLZVz2qNLQ_3EUdibVB35HJoiwXVNVi2ZLlTyNC1SFqSSvQRoC244QAvD_BwE">Hier
														geht's zur DMG MORI Homepage</a>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--######################################################## Architektur ########################################################-->

        <div class="pageScroll" id="architektur">
            <div class="pt-5">
                <div class="container" style="margin-top:30px">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Architektur</h2>
                            <p>Um die Daten von der Maschine bis zum Machine Learning Algorithmus zu bekommen, braucht man eine stabile Datenpipeline. Unsere verwendete Architektur ist im nachfolgenden Bild erkennbar. Mehr Infos zu den einzelnen Komponenten
                                erhält man durch einen Klick auf die jeweiligen Abschnitte.</p>
                            <p>Erkennbar ist hierbei, dass die Daten eine lange Reise vor sich haben und dabei einige Systeme durchlaufen, bis sie schließlich von Machine Learning Algorithmen verwendet werden können.</p>
                            <div class="center">
                                <div class="container">
                                    <img src="images/pipeline_architektur.png" width="100%">

                                    <button type="button" class="overlaybuttoninvisible" id="overlayzookeeper" data-toggle="modal" data-target="#zookeeper"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaykafka" data-toggle="modal" data-target="#kafka"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaytransformation" data-toggle="modal" data-target="#transformation"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaysupersetui" data-toggle="modal" data-target="#supersetui"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaydatawarehouse" data-toggle="modal" data-target="#datawarehouse"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaydockertensorflow" data-toggle="modal" data-target="#dockertensorflow"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlaydatenbasis" data-toggle="modal" data-target="#datenbasis"></button>
                                    <button type="button" class="overlaybuttoninvisible" id="overlayml" data-toggle="modal" data-target="#ml"></button>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal zookeeper -->
            <div class="modal fade" id="zookeeper" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Zookeeper</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/zookeeper.png" width="30%">
                            </div>
                            <p>ZooKeeper ist ein zentraler Dienst zum Verwalten von Konfigurationsinformationen, Benennen, Bereitstellen verteilter Synchronisierung und Bereitstellen von Gruppendiensten. All diese Arten von Diensten werden in irgendeiner
                                Form von verteilten Anwendungen verwendet. Jedes Mal, wenn sie implementiert werden, wird eine Menge Arbeit in die Behebung der unvermeidlichen Fehler und RaceConditions gesteckt. Es gestaltet sich schwierig diese Art von
                                Diensten zu implementieren. Werden Fehler anfangs von Anwendungen übersehen, ist es schwierig, diese im nachhinein zu identifizieren und zu beheben. Unterschiedliche Implementierungen dieser Dienste führen auch bei korrekter
                                Ausführung zu einer komplexen Verwaltung, wenn die Anwendungen bereitgestellt werden.
                            </p>







                            ZooKeeper is a centralized service for maintaining configuration information, naming, providing distributed synchronization, and providing group services. All of these kinds of services are used in some form or another by distributed applications. Each
                            time they are implemented there is a lot of work that goes into fixing the bugs and race conditions that are inevitable. Because of the difficulty of implementing these kinds of services, applications initially usually skimp
                            on them, which make them brittle in the presence of change and difficult to manage. Even when done correctly, different implementations of these services lead to management complexity when the applications are deployed.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal kafka -->
            <div class="modal fade" id="kafka" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Kafka</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/kafka.png" width="30%">
                            </div>
                            <p>
                                <h2>Grundlagen</h2>
                                <p>Apache Kafka ist eine Anwendung, die große Datenströme verarbeiten und fehlertolerant verwalten kann. Zudem merkt sich Kafka den zuletzt gelesenen Datenblock, auf den von externen Programmen zugegriffen wird. Dadurch kann
                                    bei Fehlern beim zuletzt vollständig gelesenen Datum weitergearbeitet werden und es gehen keine wichtigen Informationen verloren. Es gibt sowohl Programmierschnittstellen zum Auslesen als auch zum Einspeisen von Daten
                                    in Kafka. [1]
                                    <h2>Einsatz im Projekt</h2>
                                    </br>
                                    Im Prinzip verhält sich Kafka ähnlich Apache ActiveMQ, welches wir aus dem Extraktionsvorgang vom Maschinen-PC kennen. Auch hier können wir nach dem Publish-Subscribe-Modell arbeiten: Das Realtime-Programm auf dem Maschinen-PC arbeitet als sogenannter
                                    Producer (-> publish) und sendet Daten an Kafka. Unsere Datentransformation wiederum kann diese Daten als Consumer aufgreifen (-> subscribe) und weiter verarbeiten. Die transformierten Daten werden wiederum in Kafka
                                    an anderer Stelle gespeichert, von wo aus dann das Data Warehouse in Echtzeit die transformierten Daten bezieht und persistent ablegt. [1, 2]
                                </p>
                                <p>
                                    <p>Quellen:</p>
                                    [1] <a href="https://kafka.apache.org/intro">https://kafka.apache.org/intro</a> (zuletzt abgerufen am 12.12.2019) </br>
                                    [2] <a href="https://druid.apache.org/docs/latest/design/architecture.html">https://druid.apache.org/docs/latest/design/architecture.html</a> (zuletzt abgerufen am 12.12.2019)
                                </p>

                                </br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Transformation -->
            <div class="modal fade" id="transformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Transformation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/python.png" width="30%">
                            </div>
                            <p>Transformation der Datenstruktur und Dateninhalte in das Format und Schema der Zieldatenbank. Hier werden die Ausgangsdaten an das gewünschte/geforderte Schema der Zieldatenbank angepasst. Traditionell erfolgt der Transformationsvorgang
                                in den vier Schritten Filterung, Harmonisierung, Aggregation und Anreicherung. In den ersten beiden Schritten werden die Daten bereinigt und aufbereitet. Die letzten beiden Schritte fassen die Daten themenspezifisch zusammen.
                                Die Transformation ist der entscheidende Schritt, bei dem in den Daten ein Mehrwert geschaffen wird, um aussagekräftig zu sein.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal supersetui -->
            <div class="modal fade" id="supersetui" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Superset UI</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/supersetui.png" width="30%">
                            </div>

                            <p>Um den Datenbestand des DWH visualisieren, eignet sich Software wie Apache Superset. Das ist in unserem System optional, bietet aber dennoch eine gute Möglichkeit, um sich einen Überblick über den Datenbestand zu machen und
                                Statistiken und Grafiken für alle begreiflich in einem Dashboard anzuzeigen. Zudem bietet Superset einen guten Support für unser DWH Druid an. [1]
                            </p>
                            <p>Quellen:</p>
                            [1] <a href="https://superset.apache.org/">https://superset.apache.org/<a> (zuletzt abgerufen am 12.12.2019)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal DataWarehouse -->
            <div class="modal fade" id="datawarehouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Datawarehouse</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                                                                        <div class="center">
                        <img src="images/postgresql.png" width="20%">
                        <img src="images/druid.png" width="20%">
                        <img src="images/minios3.png" width="20%">
                        </div>
                            <h2>Grundlagen</h2>
<p>Speicherung transformierter Daten in optimierten Dateistrukturen:
In einem Data Warehouse (DWH) treffen Daten aus vielen unterschiedlichen Quellen zusammen. Im Gegensatz zu operativen Datenbeständen werden die Daten in einem DWH einmal eingefügt und nicht mehr abgeändert. Dadurch können Daten über lange Zeiträume gespeichert und analysiert werden. Die wahrscheinlich treffendste Übersetzung ins Deutsche wäre “Lagerhaus oder Speicher” [1].
Zusammenfassend lässt sich festhalten, dass alle Datensätze themenbezogen und qualitativ hochwertig sein müssen. Darüber hinaus müssen sie zur Herstellung des Zeitbezugs einen Zeitstempel besitzen, da sie dauerhaft gespeichert werden. [2]
</p>
<h2>Architektur</h2>
<p>Die Architektur unseres eingesetzten DWH orientiert sich grob an einem klassischen DWH-System. Die Daten, welche dem ETL-Prozess entspringen werden mithilfe von sechs Knoten des DWH-Systems Apache Druid in einem effizienten, spaltenorientierten Format gespeichert. Um die einzelnen Datensegmente abzuspeichern bedient sich Druid einer sogenannten Deep Storage Lösung. In unserem Fall ist das die Datenbank MinIO, welche mit Amazons Objektspeicher S3 kompatibel ist. Für anfallende Metadaten wird hingegen eine Postgres Datenbank benötigt. Zur Koordination der sechs DWH-Knoten kommt Zookeeper von Apache zum Einsatz. Dadurch können die Knoten effizient verwaltet werden und eine Kommunikation untereinander herstellen. [3] 
</p>
<p>Quellen:</p>
[1] Krcmar, H. Informationsmanagement. Springer Berlin Heidelberg, 2015.
[2] Inmon, W. H. Building the Data Warehouse. 5. Aufl. John Wiley & Sons Hoboken, 2005.
[3] <a href="https://druid.apache.org/docs/latest/design/architecture.html">https://druid.apache.org/docs/latest/design/architecture.html</a> (zuletzt abgerufen am 12.12.2019)
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal dockertensorflow -->
            <div class="modal fade" id="dockertensorflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Docker und Tensoflow</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/tensorflow.png" width="30%">
                                <img src="images/jupyter.png" width="10%">
                            </div>
                            ... Text
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Datenbasis -->
            <div class="modal fade" id="datenbasis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Extrakt-Vorgang vom Maschinen PC</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img src="images/mongodb.png" width="30%">
                            </div>

                            <p>MongoDB ist eine universelle, dokumentbasierte, verteilte Datenbank für die moderne Anwendungsentwicklung und die Cloud, die in puncto Produktivität höchsten Ansprüchen gerecht wird.</p>
                            <p>MongoDB ist eine Dokumentdatenbank, die Daten in einem JSON-ähnlichen Dokumentformat speichert. Dies macht die Daten aussagekräftiger und leistungsfähiger als das herkömmliche Zeilen/Spalten-Modell macht.</p>
                            <p>MongoDB ist eine echte Datenplattform mit einer umfassenden Toolsuite, die jedem die Arbeit mit Daten erleichtert – von Entwicklern über Analysten bis hin zu Data Scientists.</p>
                            <h2>Allgemein</h2>
                            <p>Die von der Maschine produzierten Daten werden auf verschiedene Art und Weise vom permanent verbundenen PC verarbeitet und abgespeichert. Die für unsere Zwecke wichtigen Softwarekomponenten sind die Datenbank MongoDB und der
                                Message Broker Apache ActiveMQ.</p>

                            <h2>Daily Batch</h2>
                            <p>Alle neuen Daten, welche im Lauf eines Tages anfallen, d.h. auf den Stapel (engl. batch) gelegt werden, werden über Nacht mittels eines selbst geschriebenen Programms auf den Projektserver übertragen. Dieser verfügt wiederum
                                auch über eine MongoDB. Somit steht zu jedem Zeitpunkt ein maximal ein Tag alter Datenbestand für Datentransformationen und -auswertungen auf dem Server bereit.</p>

                            <h2>Realtime</h2>
                            <p>Zusätzlich zum Daily Batch werden auch Live-Daten vom Maschinen-PC auf den Projektserver übertragen. Dafür wird auf ActiveMQ zurück gegriffen. Sobald neue Daten veröffentlicht werden (engl. publish), werden Softwarekomponenten,
                                die diese Änderungen abonniert haben (engl. subscribe), umgehend informiert. Daher spricht man hier von einem publish-subscribe-, oder kurz pub-sub-Modell. Diese Begebenheit macht sich wiederum ein selbst geschriebenes
                                Programm zu Nutze, welches auf Änderungen der Sensorwerte hört. Diese werden dann sofort auf den Kafka Broker des Projektservers übertragen.</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>




            <!--######################################################## ETL Prozess ########################################################-->

            <div class="pageScroll" id="etl">
                <div class="pt-5">
                    <div class="container" style="margin-top:30px">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>ETL Prozess</h2>
                                <p>Extract, Transform, Load (ETL) ist ein Prozess, bei dem Daten aus mehreren gegebenenfalls unterschiedlich strukturierten Datenquellen in einer Zieldatenbank vereinigt werden.</p>
                                <p>Die gewonnen Daten werden in einer Datenbank gespeichert. Hierbei werden ETL-Prozesse herangezogen um die Daten von der Datenbank zum DataLake transferieren zu können. Auf einem Server sollen die Daten dann extrahiert und
                                    in ein DataWarehouse gespeichert werden, um diese später auswerten zu können. Nachdem der ETL-Prozess abgeschlossen ist, können die Daten verwendet werden, um Vorhersagen mit Machine Learning Algorithmen zu treffen.
                                    Um die Rohdaten passend aufzubereiten, gilt es zuerst geeignete Parameter zu finden. Nachdem die Parameter identifiziert wurden und die zugehörigen Daten verarbeitet sind können diese den verschiedenen Machine Learning
                                    Algorithmen zur Verfügung gestellt werden.</p>



                                <!-- Button trigger modal -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="container">
                                            <img id="etlgif" src="images/ETL_gif.gif" width="55%">
                                            <button type="button" class="btn btn-etl" id="extractoverlay" data-toggle="modal" data-target="#E">
														<b>E</b>xtract
													</button>
                                            <button type="button" class="btn btn-etl" id="transformoverlay" data-toggle="modal" data-target="#T">
														<b>T</b>ransform
													</button>
                                            <button type="button" class="btn btn-etl" id="loadoverlay" data-toggle="modal" data-target="#L">
														<b>L</b>oad
													</button>
                                        </div>


                                    </div>

                                    <div class="col-sm-8 align-self-center">
                                        <div class="row" style="height: 33%;">
                                            <div class="col-md-12 ">
                                                <p class="">Extraktion der relevanten Daten aus den Datenquellen. Hier erfolgt die Auswahl der Daten der Quellsysteme und die Vorbereitung für die Transformationsphase. Die Extraktion findet regelmäßig statt, um das
                                                    Data Warehouse kontinuierlich mit aktualisierten Daten zu versorgen. In der Regel wird bei der Extraktion nur ein Ausschnitt aus den Quelldaten selektiert.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 33%;">
                                            <div class="col-md-12 ">
                                                <p class="">Transformation der Datenstruktur und Dateninhalte in das Format und Schema der Zieldatenbank. Hier werden die Ausgangsdaten an das gewünschte/geforderte Schema der Zieldatenbank angepasst. Traditionell erfolgt
                                                    der Transformationsvorgang in den vier Schritten Filterung, Harmonisierung, Aggregation und Anreicherung. In den ersten beiden Schritten werden die Daten bereinigt und aufbereitet. Die letzten beiden
                                                    Schritte fassen die Daten themenspezifisch zusammen. Die Transformation ist der entscheidende Schritt, bei dem in den Daten ein Mehrwert geschaffen wird, um aussagekräftig zu sein.
                                                    </br>

                                            </div>
                                        </div>
                                        <div class="row" style="height: 33%;">
                                            <div class="col-md-12 ">
                                                <p class=" ">Laden der transformierten Daten in die Zieldatenbank oder das Data Warehouse. Hierbei werden die aufbereiteten Daten in das Data Warehouse integriert. Dafür müssen sie physisch in die Datenbank des DW verschoben
                                                    werden. Hierbei ist die Integrität der Daten sicherzustellen. Über eine existierende Protokollierung ist es möglich, bei Bedarf alte Datenstände wieder herzustellen.
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br>
                                        </p>
                                    </div>
                                </div>


                                <!-- Modal Extract -->
                                <div class="modal fade" id="E" tabindex="-1" role="dialog" aria-labelledby="ELabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="EModalLabel">Extract</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="center">
                                                    <img src="images/Extract.png" class="etl_images_modal" alt="Extract">
                                                </div>
                                                <p>
                                                    <h2>Allgemein</h2>
                                                    Die von der Maschine produzierten Daten werden auf verschiedene Art und Weise vom permanent verbundenen PC verarbeitet und abgespeichert. Die für unsere Zwecke wichtigen Softwarekomponenten sind die Datenbank MongoDB und der Message Broker Apache ActiveMQ.</p>
                                                <p>
                                                    <h2>Daily Batch</h2>
                                                    Alle neuen Daten, welche im Lauf eines Tages anfallen, d.h. auf den Stapel (engl. batch) gelegt werden, werden über Nacht mittels eines selbst geschriebenen Programms auf den Projektserver übertragen. Dieser verfügt wiederum auch über eine MongoDB. Somit
                                                    steht zu jedem Zeitpunkt ein maximal ein Tag alter Datenbestand für Datentransformationen und -auswertungen auf dem Server bereit.</p>
                                                <p>
                                                    <h2>Realtime</h2>
                                                    Zusätzlich zum Daily Batch werden auch Live-Daten vom Maschinen-PC auf den Projektserver übertragen. Dafür wird auf ActiveMQ zurück gegriffen. Sobald neue Daten veröffentlicht werden (engl. publish), werden Softwarekomponenten, die diese Änderungen abonniert
                                                    haben (engl. subscribe), umgehend informiert. Daher spricht man hier von einem publish-subscribe-, oder kurz pub-sub-Modell. Diese Begebenheit macht sich wiederum ein selbst geschriebenes Programm zu
                                                    Nutze, welches auf Änderungen der Sensorwerte hört. Diese werden dann sofort auf den Kafka Broker des Projektservers übertragen.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Transform -->
                                <div class="modal fade" id="T" tabindex="-1" role="dialog" aria-labelledby="TLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="TLabel">Transform</h5>
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="center">
                                                    <img src="images/Transform.png" id="transformmodal" class="etl_images_modal" alt="Extract">
                                                </div>
                                                <a href="Jupyter_HTML/Datenaufbereitung_Vorgehen.html">Hier ist das Vorgehen für unsere Datenaufbereitung erkennbar.</a></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Load -->
                                <div class="modal fade" id="L" tabindex="-1" role="dialog" aria-labelledby="LLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="LLabel">Load</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="center">
                                                    <img src="images/Load.png" class="etl_images_modal" alt="Extract">
                                                </div>
                                                <p>Laden der transformierten Daten in die Zieldatenbank oder das Data Warehouse. Hierbei werden die aufbereiteten Daten in das Data Warehouse integriert. Dafür müssen sie physisch in die Datenbank des DW verschoben
                                                    werden. Hierbei ist die Integrität der Daten sicherzustellen. Über eine existierende Protokollierung ist es möglich, bei Bedarf alte Datenstände wieder herzustellen.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--######################################################## Machine Learning ########################################################-->

            <div class="pageScroll" id="machineLearning">
                <div class="pt-5">
                    <div class="container" style="margin-top:30px">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Machine Learning</h2>
                                <div class="container">
                                    <img class="mx-auto d-block" src="images/machineLearning_Home_v3_anim.gif" width=90%>
                                    <button type="button" id="overlay1" class="overlaybutton" data-toggle="modal" data-target="#daten">1</button>
                                    <button type="button" id="overlay2" class="overlaybutton" data-toggle="modal" data-target="#trainieren">2</button>
                                    <button type="button" id="overlay3" class="overlaybutton" data-toggle="modal" data-target="#ml">3</button>
                                    <button type="button" id="overlay4" class="overlaybutton" data-toggle="modal" data-target="#vorhersagen">4</button>
                                </div>
                                <p>Sind die Maschinendaten durch den ETL-Prozess so angepasst worden, dass diese verwendet werden können, gelangen die Daten zum nächsten Schritt, dem Machine Learning. Machine Learning ist ein Teilbereich der Künstlichen
                                    Intelligenz, der es einem System ermöglicht, mit Hilfe von lernenden Algorithmen zusammenhänge in Daten zu erkennen. Diese zusammenhänge bezeichnet man als Muster, diese haben einen gleichförmige Struktur. Um Muster
                                    in Daten erkennen zu können benötigt Daten um in solchen bestimmte Gesetzmäßigkeiten zu erkennen und entsprechende Schlüsse ziehen zu können.
                                </p>
                                <p><a href="machinelearning.html">Hier klicken für mehr Infos zu Machine Learning.</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal Daten -->
            <div class="modal fade" id="daten" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Die Daten</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            Bevor die Daten genutzt werden können, werden diese im ETL-Prozess aufbereitet. <a href="Jupyter_HTML/Datenaufbereitung_Vorgehen.html">Hier </a>ist das Vorgehen erkennbar.
                            <div class="center">
                                <img src="images/beispieldatensatz.png" width="60%">
                            </div>
                            Die Datensätze sind nach einem gewissen Schema strukturiert. Unter anderem finden sich in dem Datensatz, von welchem Programm aus er erzeugt wurde, welcher Sensor den Wert geliefert hat und welchen spezifischen Wert der Sensor gemessen hat.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal trainieren -->
            <div class="modal fade" id="trainieren" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Trainieren</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            ... Text
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal vorhehrsagen -->
            <div class="modal fade" id="vorhersagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vorhersagung</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            ... Text
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal machinelearning -->
            <div class="modal fade" id="ml" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Machine Learning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">

                            <p>
                                Für das Projekt wurden mehrere Algorithmen untersucht. Die Algorithmen haben je nach Einsatzzweck ihre Vor- und Nachteile.

                            </p>
                            <p>
                                In nachfolgender Tabelle sind alle untersuchten Algorithmen aufgelistet.
                            </p>



                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CART</td>
                                        <td><a href="cart.html">Mehr Infos</a></td>
                                    </tr>
                                    <tr>
                                        <td>Ensembles</td>
                                        <td><a href="ensembles.html">Mehr Infos</a></td>
                                    </tr>
                                    <tr>
                                        <td>K-Nearest Neighbors</td>
                                        <td><a href="k_nearest.html">Mehr Infos</a></td>
                                    </tr>
                                    <tr>
                                        <td>Lineare Regression</td>
                                        <td><a href="linreg.html">Mehr Infos</a></td>
                                    </tr>
                                    <tr>
                                        <td>Logische Regression</td>
                                        <td><a href="logreg.html">Mehr Infos</a></td>
                                    </tr>
                                    <tr>
                                        <td>Random Forest</td>
                                        <td><a href="random_forest.html">Mehr Infos</a></td>
                                    </tr>
                                </tbody>
                            </table>




                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal output -->
            <div class="modal fade" id="output" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Das Ergebnis</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            ... Text
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>



            <!--######################################################## Ergebnisse ########################################################-->

            <div class="pageScroll" id="results">
                <div class="pt-5">
                    <div class="container" style="margin-top:30px">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Ergebnisse</h2>
                                <p>Mithilfe eines Kafka Producers werden in Echtzeit Daten direkt an die Datenbank gesendet. Aus dieser Datenbank kann für eine weitere Auswertung die Machine Learning Algorithmen angewendet werden. Die Datenaufbereitung wird
                                    durch unumgängliche händische Prozesse (z.B. Prüfen der Oberflächengüte der Reibung) begleitet. Das Projekt hat allerdings erfolgreich gezeigt, dass mit der aktuellen Struktur ein echtzeitfähiges System möglich ist.
                                    Die verwendeten Machine Learing Algorithmen liefern gute (Support Vector Machine – ca. 80%) bis hin zu sehr guten (logistische Regression u. Entscheidungsbäume bis zu 100%) Ergebnissen. Die aufbereiteten Daten sind
                                    korrekt, allerdings sind die messtechnischen Mittel beschränkt. Die Maschine selbst ist auf kleinsten Skalen extrem genau. Wir haben uns mit den verwendeten Messmitteln an der Grenze der Maschinenfähigkeit bewegt. Die
                                    Maschine selbst, jedoch stand uns kein Spezial Messwerkzeug zur Verfügung um eine 100&ige Messgenauigkeit zu erreichen. </p>

                            </div>
                        </div>
                    </div>
                </div>

                <!--######################################################## Versuchsaufbau ########################################################-->

                <div class="pageScroll" id="useCases">
                    <div class="pt-5">
                        <div class="container" style="margin-top:30px">
                            <div class="row">
                                <div class="col-sm-12 pb-4">
                                    <h2>Versuchsaufbau</h2>
                                </div>
                                <br>
                                <div class="col-sm-4">
                                    <img class="rounded img-fluid pb-4" src="images/Bohren.png">
                                    <h3 class="text-center pb-4">Bohren</h3>
                                    <p>Das Bohren ist ein spanabhebendes Fertigungsverfahren. Hierbei wird mit einem Werkzeug, mit geometrisch bestimmter Schneide, eine Bohrung in ein Bauteil eingebracht. Für den Versuch wurden im Prozessschritt „Bohren“,
                                        Bohrungen mit einem Durchmesser von 11,8 Millimetern gebohrt.</p>
                                </div>
                                <div class="col-sm-4">
                                    <img class="rounded img-fluid pb-4" src="images/Reiben.png">
                                    <h3 class="text-center pb-4">Reiben</h3>
                                    <p>Das <a href="descr.html" data-toggle="tooltip" title="Vorgang bei dem ein vorgebohrtes Loch (0,1-0,6 mm Reibzugabe) auf ein Passungsmaß aufgebohrt wird; hohe Oberflächengenauigkeit">Reiben</a> ist ebenfalls ein spanabhebendes
                                        Fertigungsverfahren. Hierbei wir mit einer
                                        <a href="descr.html" data-toggle="tooltip" title="Werkzeug, das präzise Borungen erzeugt. Es wird eingesetzt um Passungen herzustellen. Bei diesem Verfahren ist Vorbohren erforderlich. Um eine Rundlaufgenauigkeit zu erhalten besitzt die Reibahle meist eine ungerade Anzahl an Schneiden.">Reibahle</a>,
                                        mit geometrisch bestimmter Schneide, eine im Bauteil vorhandene Bohrung auf ein definiertes Maß aufgebohrt. Für den Versuch wurden die vorhandenen Bohrungen in diesem Prozessschritt auf ein Passungsmaß von 12H7
                                        aufgerieben.</p>
                                </div>
                                <div class="col-sm-4">
                                    <img class="rounded img-fluid pb-4" src="images/Messen.png">
                                    <h3 class="text-center pb-4">Messen</h3>
                                    <p>Das Messen definiert für bestimmte Bauteilmerkmale Absolutwerte. Für den Versuch werden nach dem Reiben alle Passungen gemessen. Dies wird einerseits automatisiert durch die Fräsmaschine mit einem Messtaster, andererseits
                                        manuell mit einer Dreipunkt-Innenmessschraube durchgeführt.</p>
                                </div>

                                <p>Für das Projekt werden diese Techniken vereint. Nach dem Einspannen des Stahlblocks in die Fräsmaschine wird das NC Programm geladen. Das NC Programm besteht aus mehreren Teilprozessen. Zuerst bohren wir in einem Raster
                                    von 9x9 Bohrungen auf deren Vormaß. Nachdem in einer Ebene alle Bohrungen gebohrt wurden, werden die Kanten der Bohrlöcher <a href="descr.html" data-toggle="tooltip" title="Scharfe Werkstückkanten werden gebrochen">angefast</a>,
                                    um der Reibahle eine bessere Führung zu geben. Nach dem Anfasen werden die Bohrungen auf das fertige Maß gerieben. Die Passungen werden händisch gemessen und in ein Prüfprotokoll eingetragen. Nachdem die Daten erfasst
                                    wurden, wird die Oberfläche geschruppt und geschlichtet. Die nächste Ebene kann nun gebohrt, gerieben und gemessen werden.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!--######################################################## Footer ########################################################-->

                <div class="jumbotron align-bottom" style="margin-bottom:0">
                    <img src="images/digitallab.png" id="footer" alt="Digital Lab">
                </div>
            </div>





            <!--######################################################## Modal Beispiel Begriffserklärung ########################################################-->

            <div id="exampleModalCenter" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Beispielmodal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid pb-4" src="images/tensorflow.png">
                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. <a href="tensorflow.html">Mehr
									Informationen</a></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>





</body>