<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <title>Masterprojekt Machine Learing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf
								und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#ueberblick">Überblick</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#architektur">Architektur</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="cart.html">CART</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="k_nearest.html">K-Nearest Neighbors</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="logreg.html">Logische Regression</a>
                                <a class="dropdown-item" href="random_forest.html">Random Forest</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Lineare Regression</h2>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>Die lineare Regression wird verwendet, um eine lineare Beziehung zwischen dem Ziel und einem oder mehreren Prädiktoren zu finden. Es gibt zwei Arten der linearen Regression - Einfache und Multiple. Es ist ein nützliches Verfahren für
                        Prognosen/Vorhersagen.
                    </p>
                    <p>Folgende Fragen können durch die lineare Regression beantwortet werden:</p>
                    <ul>
                        <li>Gibt es eine Beziehung zwischen den Variablen?</li>
                        <li>Wie stark ist die Beziehung?</li>
                        <li>Wie genau können wir den Effekt jeder Variablen abschätzen?</li>
                        <li>Wie genau können wir das Ziel vorhersagen?</li>
                    </ul>
                    <p>Die Kernidee ist eine Linie zu erhalten, die am besten zu den Daten passt. Die am besten geeignete Linie ist diejenige, bei der der Gesamtvorhersagefehler (alle Datenpunkte) so klein wie möglich ist. Ein Fehler ist der Abstand zwischen
                        dem Punkt und der Regressionslinie (siehe Abbildung).</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/linreg.png" width="100%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Theorie ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Theorie</h3>
                    <p>Die <b>einfache lineare Regression</b> ist nützlich, um Beziehungen zwischen zwei Variablen (Prädiktor- und Ziel- bzw. unabhängige und abhängige Variable) zu finden. Jeder Datensatz wird dabei mit seinen zwei Variablen in ein Koordinatensystem
                        eingetragen.
                    </p>
                    <p>Da in der Realität meist mehrere Variablen ein Ziel beeinflussen, gibt es die <b>multiple lineare Regression</b>. Die Gleichung der multiplen linearen Regression ist der Gleichung der einfachen linearen Regression sehr ähnlich. Lediglich
                        die Anzahl der Prädiktoren ist verschieden.</p>
                    <p>Bei der linearen Regression werden zunächst die Mittelwerte der gesamten Datenmenge berechnet. </br>Dies erfolgt durch die Berechnung des arithmetischen Mittels:</p>
                    <img class="imgzentriert" src="images/linregformel1.png" width="10%">
                    <p>Im nächsten Schritt erfolgt das aufstellen der Regressionsgerade. Diese wird im Falle der einfachen linearen Regression definiert durch:</p>
                    <img class="imgzentriert" src="images/linregformel2.png" width="10%">
                    <p>a: Y-Achsenabschnitt (heißt auch manchmal Intercept, Regressionskoeffizient oder slope)</p>
                    <p>b: Steigung der Regressionsgerade</p>
                    <p>Wird die multiple lineare Regression benutzt, sieht die Regressionsgleichung wie folgt aus:</p>
                    <img class="imgzentriert" src="images/linregformel3.png" width="25%">

                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Umsetzung in Python ########################################################-->
        <!--
        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Umsetzung in Python</h3>
                    <p>Some text..</p>
                    <pre class="prettyprint linenums">def sayHi(name):<br>  print("hi" + name)<br><br>sayHi("Tom")</pre>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
            </div>
            <hr class="style1">
        </div>
-->
        <!--######################################################## Vor- und Nachteile des Algorithmus ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Vor- und Nachteile des Algorithmus</h3>
                    <p>Vorteile:
                        <ul>+ Sehr leicht zu verstehen.</ul>
                        <ul>+ Leicht zu programmieren.</ul>
                        <p>Nachteile:
                            <ul>- Ungenau.</ul>
                            <ul>- Ausreißer werden nicht erkannt.</ul>
                        </p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen und weiterführende Links</h3>
                    </br>
                    <p><a href="https://www.computerwoche.de/v/machine-learning-mit-azure-was-ist-lineare-regression,1039553">Computerwoche</a></p>
                    <p><a href="https://www.inwt-statistics.de/blog-artikel-lesen/Multiple_lineare_Regression.html">INWT Statistics</a></p>
                    <p><a href="https://novustat.com/statistik-blog/klassiker-lineare-regression-einfach-erklaert.html">Novustat</a></p>
                    <p><a href="https://towardsdatascience.com/understanding-multiple-regression-249b16bde83e">Towards Data Science</a></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>