<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <title>Masterprojekt Machine Learing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf
								und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#ueberblick">Überblick</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#architektur">Architektur</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="cart.html">CART</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="k_nearest.html">K-neNearest Neighborsarest</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="logreg.html">Logistische Regression</a>
                                <a class="dropdown-item" href="random_forest.html">Random Forest</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Logistische Regression</h2>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>Oft ist die Logistische regression unter der Bezeichnung Logit Modell zu finden. Bei der Logistischen Regression wird im Gegensatz zur Linearen Regression, eine Wahrscheinlichkeit, für ein Ereignis prognostiziert. Genauer, bei der
                        linearen Regression erhalten man einen festen Wert (Bspw. Haarlänge wächst in X Tagen um Y cm). Bei der logistischen Regression erhält man eine Wahrscheinlichkeit (Bspw. Haarlänge wächst in X Tagen um Y cm zu Z %).</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/logreg.png" width="100%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Theorie ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Theorie</h3>
                    <p>Formel für das Regressionsmodell:</p>
                    <img class="imgzentriert" src="images/logregformel1.png" width="35%">
                    <p>Um die Probleme aus dem linearen Regressionsmodell zu beseitigen, wird unter anderem folgende Verteilungsfunktion genutzt:</p>
                    <img class="imgzentriert" src="images/logregformel2.png" width="15%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Umsetzung in Python ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Umsetzung in Python</h3>
                    <iframe class="jupyter_html" src="Jupyter_HTML/Logistic_Regression.html"></iframe> </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Vor- und Nachteile des Algorithmus ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Vor- und Nachteile des Algorithmus</h3>
                    <p>Vorteile:
                        <ul>+ Flexibler als die lineare Regression.</ul>
                        <ul>+ Ähnlich einfach wie die lineare Regression.</ul>
                        <p>Nachteile:
                            <ul>- Im Vergleich zu anderen Algorithmen immer noch ungenau.</ul>
                        </p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen und weiterführende Links</h3>
                    </br>
                    <p><a href="https://www.inwt-statistics.de/blog-artikel-lesen/Logistische_Regression.html">INWT-Statistics</a></p>

                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>