<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <title>Masterprojekt Machine Learing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf
								und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#ueberblick">Überblick</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#architektur">Architektur</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="cart.html">CART</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="k_nearest.html">K-Nearest Neighbors</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="logreg.html">Logistische Regression</a>
                                <a class="dropdown-item" href="random_forest.html">Random Forest</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Machine Learning</h2>

        <!--######################################################## Einführung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Künstliche Intelligenz</h3>
                    <p>Ist ein Teilgebiet der Informatik, welches sich mit der Erforschung von Mechanismen des intelligenten menschlichen Verhaltens befasst (Intelligenz).</p>
                    <p>KI‘s sind intelligente Programme, die bestimmte, komplexe Aufgaben, für dienormalerweise intelligentes Handeln notwendig ist, bewältigen können.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/machinelearning.png" width="60%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <h3>KI ist ein Oberbegriff für verschiedene „intelligente“ Mechanismen</h3>
            </br>
            <div class="row">
                <div class="col-sm-4">
                    <p><b>Neuronale Netzwerke</b></p>
                    <p>Mechanik basiert auf dem menschlichen Gehirn und dessen neuronalen Prozessen.</br>Vereinfachte Form:</p>
                </div>
                <div class="col-sm-4">
                    <p><b>Machine Learning</b></p>
                    <p>Oberbegriff für eine Klasse von lernenden Algorithmen, die aus "Erfahrung" lernen.</br>Einordnung des Mechanismus:</p>
                </div>
                <div class="col-sm-4">
                    <p><b>Deep Learning</b></p>
                    <p>Spezielle Klasse von Optimierungsmethoden von neuronalen Netzwerken. Wesentlicher Unterschied ist die Komplexität der "Hidden Layer":</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <img src="images/neuronalenetzwerke.png" width="65%">
                </div>
                <div class="col-sm-4">
                    <img src="images/machinelearning1.png" width="60%">
                </div>
                <div class="col-sm-4">
                    <img src="images/deeplearning.png" width="80%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Wie funktioniert ML? ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <h3>Wie funktioniert Machine Learning?</h3>
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Modell:</b></br>System, dass Vorhersagen und Identifikationen trifft.</p>
                    <p><b>Lernendes System:</b></br>System, welches die Parameter anpasst - und somit auch das Modell.</p>
                    <p><b>Parameter</b></br>Faktoren oder Signale um Entscheidungen zu treffen.</p>
                </div>
                <div class="col-sm-6">
                    <img src="images/mlfunktion.png" width="80%">
                </div>
                <div class="col-sm-12">
                    </br>
                    <p>Damit die Machine Learning-Algorithmen erfolgreich Muster erkennen können, wird eine repräsentative Stichprobe des Anwendungsgebiets benötigt. Um eine repräsentative Stichprobe zu erhalten müssen Daten gesammelt werden. Nachdem die
                        Stichprobe ermittelt und validiert wurde, werden Merkmale gewählt. Die Merkmalauswahl ist nicht einfach, da man die Anzahl der Merkmale beachten muss. Da bei mehr als drei Merkmalen die Visualisierung nicht mehr möglich ist, ist
                        das finden von Mustern eine komplexe Aufgabe. Außerdem beinhalten nicht alle Merkmale wichtige Informationen zur Klassifikation, diese können dann entfernt werden. Anhand der Datenstrukturen und Eigenschaften kann ein Modell gewählt
                        werden. Dabei kann man zwischen Klassifikatoren und Regressoren unterscheiden.</p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Was kann ML.net? ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Was kann ML.net?</h3>
                    </br>
                    <div class="flex-container">
                        <figure>
                            <img src="images/ml1.svg" width="100" height="100" alt="" style="margin:5px">
                            <figcaption>Zusammenhänge</br>erkennen</figcaption>
                        </figure>
                        <figure>
                            <img src="images/ml2.svg" width="100" height="100" alt="" style="margin:5px">
                            <figcaption>Vorhersagen</br>treffen</figcaption>
                        </figure>
                        <figure>
                            <img src="images/ml3.svg" width="100" height="100" alt="" style="margin:5px">
                            <figcaption>Prozesse</br>optimieren</figcaption>
                        </figure>
                        <figure>
                            <img src="images/ml4.svg" width="100" height="100" alt="" style="margin:5px">
                            <figcaption>Eigenständiges</br>anpassen</figcaption>
                        </figure>
                        <figure>
                            <img src="images/ml5.png" width="100" height="100" alt="" style="margin:5px">
                            <figcaption>Wahrscheinlichkeiten</br>berechnen</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen und weiterführende Links</h3>
                    </br>
                    <p><a href="https://towardsdatascience.com/machine-learning-basics-part-1-a36d38c7916">Towards Data Science</a></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>